.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.btn-collapse {
	display: block;
	margin: 20px;
}

.collapsible {
	border: 5px solig black;
}

.timeline {
	margin: 20px;
	padding: 20px;
	border: 1px solid rgba(10, 80, 160, 0.9);
	border-radius: 15px;
	display: inline-block;
}

.deadline {
	width: 7px;
	height: 350px;
	background-color: rgba(10, 80, 160, 0.9);
	display: inline-block;
}

.empty-hour {
	width: 7px;
	height: 350px;
	background-color: rgba(0, 0, 0, 0);
	display: inline-block;
}
